# **Data Cleansing**

In [15]:
import pandas as pd
df = pd.read_csv("E-Com Dataset.csv")

In [16]:
#Mencari seberapa banyak null value nya ada 
df.isnull().sum()

Order_Date             0
Time                   0
Aging                  0
Customer_Id            0
Gender                 0
Device_Type            0
Customer_Login_type    0
Product_Category       0
Product                0
Sales                  0
Quantity               0
Discount               0
Profit                 0
Shipping_Cost          0
Order_Priority         0
Payment_method         0
dtype: int64

In [17]:
# Mendeteksi Null 
df.isna().sum()

Order_Date             0
Time                   0
Aging                  0
Customer_Id            0
Gender                 0
Device_Type            0
Customer_Login_type    0
Product_Category       0
Product                0
Sales                  0
Quantity               0
Discount               0
Profit                 0
Shipping_Cost          0
Order_Priority         0
Payment_method         0
dtype: int64

In [18]:
# Mengeluarkan info yang null
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order_Date           2161 non-null   object
 1   Time                 2161 non-null   object
 2   Aging                2161 non-null   int64
 3   Customer_Id          2161 non-null   int64
 4   Gender               2161 non-null   object
 5   Device_Type          2161 non-null   object
 6   Customer_Login_type  2161 non-null   object
 7   Product_Category     2161 non-null   object
 8   Product              2161 non-null   object
 9   Sales                2161 non-null   int64
 10  Quantity             2161 non-null   int64
 11  Discount             2161 non-null   float64
 12  Profit               2161 non-null   float64
 13  Shipping_Cost        2161 non-null   float64
 14  Order_Priority       2161 non-null   object
 15  Payment_method       2161 non-null   object
dtypes: float64(3), int64(4), object(9)
memory usage: 270.3+ KB
None

In [19]:
# Mengumpulkan data yang bernilai null
null_data = df[df.isnull().any(axis=1)]

# Menampilkan hasil
print(null_data)

Empty DataFrame
Columns: [Order_Date, Time, Aging, Customer_Id, Gender, Device_Type, Customer_Login_type, Product_Category, Product, Sales, Quantity, Discount, Profit, Shipping_Cost, Order_Priority, Payment_method]
Index: []

In [20]:
# Membersihkan data yang kosong 
df.dropna(inplace = True)

In [21]:
# Memverifikasi data sudah clean 
df.isna().sum()

Order_Date             0
Time                   0
Aging                  0
Customer_Id            0
Gender                 0
Device_Type            0
Customer_Login_type    0
Product_Category       0
Product                0
Sales                  0
Quantity               0
Discount               0
Profit                 0
Shipping_Cost          0
Order_Priority         0
Payment_method         0
dtype: int64